@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,500;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin general {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto', sans-serif;
}

@mixin display ($direction,$justify-content){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
}
@mixin heading-1{
    font-size: 75px;
    line-height: 100px;
    //color: #333333;
    margin-bottom: 1.5rem;
}
@mixin heading-2($color){
    font-weight: 700;
    font-size: 40px;
    color:$color;
    line-height: 2;
}

@mixin heading-3{
    font-size: 40px;
    line-height: 35px;
    font-weight: 600;
    color: #333333;
}

@mixin heading-4{
    font-size: 22px;
}

@mixin button($width, $height, $bacground){
    width: $width;
    height: $height;
    background: $bacground;
    border-width: 0rem;
    border-radius: 0.4rem;
    padding: 0.5rem;


    & a:after{
        content: "\276f";
        position: absolute;
        transition: 1s;
        top: 0;
        bottom: 0;
        opacity: 0;
        right: -20px;
    }
    &:hover a{
        padding-right: 5px;
    }
    &:hover a:after{
        opacity: 1;
        right: -6px;
    }

}


