@import "./_config.scss";
*{
    @include general;
}
.space{
    padding-top: 5rem;
    width: 100%;
    background: rgb(242, 240, 240)
}

.section-one{
    background: #002594;
    padding:6rem 2.5rem;
    color: #fff;

    & .card{
        width: 46%;

        & article{

            & h1{
                //font-weight: 700;
                font-size: 80px;
                margin: 2.5rem 0rem;
            }

            & p{
                line-height: 1.6;
            }
        }
    }
    @media (max-width:767px){
        padding: 4rem 2rem;

        & .card{
            width: 100%;

            & article{

                & h1{
                    font-size: 50px;
                }
            }
        }

    }
}
.section-two{
    @include display(row, center);
    background: #f9fafb;
    padding: 3rem 2rem;
    align-items: center;

    & .card{
        flex-basis: 48%;

        & img{
            width: 100%;
            height: auto;
        }

        & article {
            text-align: left;
            color: #333333;

            & span{
                width: 100px;
                color: #002594;
                font-weight: 600;
            }

            & h3{
                @include heading-3;
                padding: 0.5rem 0rem;
                line-height: 2;
            }

            & p{
                font-size: 1.1rem;
                line-height: 1.5;
                margin-bottom: 0.7rem;
            }
        }
        @media (max-width:767px){
            @include display(column, center);
        }
    }

    & #card-1{
        background: #fff;
        padding: 2rem;
    }
    @media (max-width:767px) {
        @include display(column, center);
        padding: 3rem 2.5rem;

        & .card{
            margin-bottom: 1.6rem;

            & h3{
                font-size: 25px;
            }
        }
    }
}

//section-three

.section-three{
    padding: 2.5rem 2.6rem;

    & h2{
        @include heading-3;
        position: relative;
        left: 20px;
        //bottom: 100px;
        top: 10px;
        //margin: 3rem 0rem 3rem 0rem;

    }

    & .section-three-container{
        @include display(row, space-evenly);
        flex-wrap: nowrap;

        & .card {
            flex-basis: 31%;
            color: #333333;
            text-align: start;
            margin-top: 6rem;

            & img{
                width: 100%;
            }
            & h4{
                margin: 1rem 0rem;
                @include heading-4;
            }
            & p{
                line-height: 1.6;
                font-size: 1rem;
            }
        }
    }
    @media (max-width:900px) {
        padding: 2rem;

        & .section-three-container{
            @include display(column, space-evenly);

            & .card{
                margin-bottom: 1.6rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
}


//section-four

.section-four{
    padding: 3rem 2.5rem;
    padding-top: 0rem;

    & h2{
        @include heading-2(#333333);
        text-align: start;
        padding: 2rem 0rem 4rem 0rem
    }

    & .section-four-container{
        @include display(row, space-evenly);

        & .card {
            padding: 1.4rem;
            flex-basis: 45%;
            color: #333333;
            text-align: center;
            position: relative;

            & img{
                max-width: 160px;
                width: 100%;
                height: 220px;
                margin: auto;
                border-radius: 35%;
                margin-top: 0rem;
            }
            & article{
                padding-top: 2.2rem;
                font-size: 0.85rem;
                line-height: 1.6;

                & p{
                    padding-bottom: 2rem;
                }
            }
        }
    }
    @media (max-width:767px){
        padding: 2rem;

        & h2{
            line-height: 1.4;
            font-size:34px;
            text-align: center;
        }

        & .section-four-container{
            @include display(column, center);

            & .card{
                margin-bottom: 2rem;
                padding-top: 1rem;

                & img{
                    width: 100%;
                    max-width: 150px;
                    height: auto;
                }

            }
        }
    }
}

//section-five

.section-five-container{
    padding: 3rem 2rem;

    & .card{
        @include display(column, center);
        text-align: center;
        padding: 2rem 0rem;

        & h3{
            @include heading-3;
            padding-bottom: 1rem;
            line-height: 1.4;
        }

        & form{
            width: 55%;
            margin: auto;

            & label{
                display: none;
            }
            & input{
                width: 100%;
                height: 40px;
                padding: 0.8rem 0.6rem;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
            & button{
                width: 110px;
                height: 44px;
                font-size: 1rem;
                color: #fff;
                background: #002594;
                border-radius: 0.3rem;
                border-width: 0rem;
                margin: auto;
                margin-top: 1rem;
            }
        }

        @media (max-width:500px){
            padding: 0rem;

            & form{
                width: 70%;

                & button{
                    width: 100%;
                }
            }
        }

    }

}

//section-six

.section-six{
    padding: 3.5rem 2.5rem;
    background: #e3ecf2;
    color: #333333;
    @include display(column,center);

    h3{
        @include heading-3;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    & .card{
        width: 70%;
        margin: auto;
        border: 1px solid #ced8e1;
        margin-bottom: 1.5rem;

        & .item{
            @include display(column, center);


            & .title{
                //@include display(row, space-between);
                border-bottom: 1px solid #ced8e1;
                align-items: center;
                cursor: pointer;
                padding: 1rem;
                background: #f7f7f7;

                & span{
                    //background: #e3ecf2;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    padding-right: 0.5rem;
                    font-weight: 700;
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                }
                & a{
                    font-weight: 700;
                    color: #333333;
                    opacity: 1;
                }
            }

            & .content{
                max-height: 0;
                transition: all 0.5s;
                overflow: hidden;
            }

            & .show{///900 comments
                max-height: 10rem;
                transition: all 0.5s;
                height: 100%;
                line-height: 1.7;
                font-size: 0.9rem;
                line-height: 1.6;
                background: #e3ecf2;
                padding: 1.2rem;
                //padding-right: 1rem;
            }
        }
        @media (max-width:767px){
            width: 100%;
        }
    }

    #view-faqs{
        background: #ffc21c;
        padding: 0.5rem;
        width: 130px;
        height: 50px;
        border-width: 0rem;
        border-radius: 0.4rem;
        margin: auto;
        text-align: center;
        text-decoration: none;
        color: #334155;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0rem;

        &:hover{
            background: #002594;
        }
    }
}

/*
 What do you like about the startup &  what problem do they solve
2. how do they solve it
3. what stack do they use(ie. technologies e.g python, node js etc)
4. are there job opportunities


*/