@import './config';

*{
    @include general;
}

.courses{
    padding: 2.5rem;
    @include display(column, center);
    position: relative;
    & .spacer{
        padding-top: 10rem;
        width: 100%;
    }

    & #filter{
        height: 45px;
        position: absolute;
        top: 130px;
        right: 70px;
        font-size: 1.2rem;
        background: #d5d5d5;
        border-radius: 3px;
        border-width: 0rem;
        text-align: center;
        padding: 0.5rem 1.5rem;
    }

    & .courses-container{
        @include display(row, space-evenly);



        & .card {
            flex-basis: 31%;
            color: #333333;
            text-align: start;
            border-radius: 4px;
            position: relative;
            border:0.6px solid #d9dbdd;
            //padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 2px 1px;

            & img{
                width: 100%;
            }
            & #arrow{
                color: #fff;
                background: #002594;
                position: absolute;
                right: 20px;
                bottom: 160px;
                font-size: 1.5rem;
                border-radius: 59%;
                width: 35px;
                height: 35px;

            }

            & .card-body{
                @include display(column,center);
                padding: 1rem 1.2rem;
                & h4{
                    margin: 1rem 0rem;
                    @include heading-4;
                }

                & a{
                    max-width: 100%;
                    height: 40px;
                    text-align: center;
                    margin: 1.3rem 0rem;
                    padding: 0.6rem;
                    background: #002594;
                    border-width: 0rem;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    color: #fff;
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: #fff;
                }
            }


        }

    }

    @media (max-width:767px) {
        padding: 2rem;

        & .courses-container{
            @include display(column, space-evenly);

            & .card{
                margin-bottom: 1.6rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
}
