@import './_config';

*{
    @include general;
}

@mixin flex ($direction){
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: $direction;
}
$mobile:768px;

@mixin mobile-view {
    @media (max-width:$mobile) {
        @content;

    }

}
.bg{
    background: #e3ecf2;
    opacity: 0.5;
    transition: 0.5s;
}

.header{
    @include flex(row);
    background: #e3ecf2;
    transition: 0.5s;
    height: 80px;
    width: 100vw;
    position: fixed;
    padding: 0rem 2rem;
    z-index: 3;

    & .logo img{
        width: 70px;
        height: 60px;
        transition: all 0.5s ease-in-out;
    }
    & .nav-bar{
        display: flex;


        & .nav-menu{
            display: flex;


            & li{
                list-style-type: none;
                margin: 0rem 1rem;

                & a{
                    text-decoration: none;
                    font-weight: 700;
                    color: #333333;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover{
                        opacity: 0.7;
                    }
                    &.active{
                        color: #002595;
                    }
                }


            }

        }


        & section{
            display: flex;
            align-items: center;

            & #search-icon{
                border-radius: 50%;
                margin: 0rem 1rem;
            }
            & .hamburger{
                display: none;
            }
        }
    }

    @include mobile-view {
        @include flex(row);
        background: #fff;

        & .logo img{
            width: 50px;
            height: 40px;
        }

        & .nav-menu{
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            position: fixed;
            top: 80px;
            background-color: #fff;
            height: 290px;
            width: 100%;
            left: -100%;
            z-index: 2;
            padding: 1rem;
            transition: 1s ease;
            transition-duration: all 1s ease;
            border-top: 3px solid midnightblue;
            box-shadow: rgba(0, 0, 0.1) 0px 2px 5px 0px;

            & li{
                padding: 0.8rem 1rem;
                border-bottom: 1px solid rgb(121, 108, 108);
                width: 95%;

                &:hover{
                    background: #f8f9fa;
                }

                & a{
                    text-align: left;
                    font-weight: 300;
                    font-size: 0.8rem;

                    &:hover{

                    }
                }
            }
            &.active{
                left: 0;
            }
        }
        & .nav-bar section .hamburger{
            display: block;
        }
    }
}

