@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,500;1,900&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto", sans-serif;
}

.spacer {
  padding-top: 10rem;
  width: 100%;
}

.section-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0rem 2.5rem 2.7rem 2.5rem;
  border-bottom-right-radius: 6rem;
  box-shadow: inset 0 -80px 40px -50px #002594;
}
.section-1 .card {
  flex-basis: 40%;
  /*@keyframes fadeRight {
      from{
          transform: translateX(330px);
      }
      to{
      transform: translateX(0);
      }
  }*/
}
.section-1 .card .image {
  width: 100%;
  max-width: 240px;
  height: 100%;
  /*animation-duration: 1.2s;
  animation-name: fadeRight;
  animation-timing-function:ease-in;
  animation-delay:0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  transform: translateX(150px);*/
}
.section-1 .card1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-1 .card1 h1 {
  font-size: 75px;
  line-height: 100px;
  margin-bottom: 1.5rem;
  color: #333333;
}
.section-1 .card1 p {
  line-height: 32px;
  font-size: 1.1rem;
  color: #333333;
}
.section-1 .card1 a {
  background: #002594;
  line-height: 20.5px;
  color: #fff;
  border-radius: 8px;
  width: 200px;
  font-size: 1rem;
  text-align: center;
  margin: 1.2rem 0rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  box-shadow: rgb(255, 194, 28) 0px 2px 3px 0px;
}
@media (max-width: 1000px) {
  .section-1 {
    padding: 0rem 2rem 4rem 2rem;
  }
}
@media (max-width: 767px) {
  .section-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section-1 .card1 h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

.section-2 {
  padding: 1.5rem 2.5rem 4rem 2.5rem;
  text-align: center;
  color: #333333;
}
.section-2 h2 {
  font-weight: 700;
  font-size: 40px;
  color: #4b4b4b;
  line-height: 2;
}
.section-2 .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 2rem;
  text-align: start;
  line-height: 2;
}
.section-2 .container .content {
  flex-basis: 44%;
  color: #333333;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.section-2 .container .content span .icon {
  max-width: 50px;
  width: 100%;
  height: 60px;
  color: #002594;
  margin: -1.2rem 1.5rem 0rem 0rem;
}
.section-2 .container .content h4 {
  padding-bottom: 0.8rem;
}
@media (max-width: 1000px) {
  .section-2 {
    padding: 1.5rem 2rem 4rem 2rem;
  }
}
@media (max-width: 767px) {
  .section-2 h2 {
    font-size: 40px;
    line-height: 1.4;
  }
  .section-2 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0rem;
  }
  .section-2 .container .content {
    margin-bottom: 2.5rem;
    font-size: 0.95rem;
    text-align: justify;
  }
  .section-2 .container .content img {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
  }
}

.section-3 {
  background: #e3ecf2;
  padding: 4rem 6rem;
}
.section-3 .section-3-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.3rem 0rem;
}
.section-3 .section-3-container .card {
  flex-basis: 40%;
}
.section-3 .section-3-container .card article {
  text-align: start;
  color: #333333;
}
.section-3 .section-3-container .card article h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
.section-3 .section-3-container .card article p {
  font-size: 0.98rem;
  line-height: 1.7;
}
.section-3 .section-3-container .card img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .section-3 {
    padding: 4rem;
  }
  .section-3 .section-3-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;
  }
  .section-3 .section-3-container .card {
    margin-bottom: 1.2rem;
  }
  .section-3 .section-3-container .card img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .section-3 {
    padding: 4rem 2rem;
  }
  .section-3 .section-3-container .box article h2 {
    font-size: 30px;
  }
  .section-3 .section-3-container .box article p {
    font-size: 1rem;
    text-align: justify;
  }
}

.section-4 {
  padding: 2.5rem 2.5rem;
}
.section-4 .card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0rem 1.2rem 6rem 1.2rem;
}
.section-4 .card-header a {
  text-decoration: none;
  background: #ffc21c;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #4b4b4b;
  margin-right: 8rem;
}
.section-4 .card-header h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
@media (max-width: 1024px) {
  .section-4 .card-header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0rem 1.2rem 6rem 0.2rem;
    align-items: start;
  }
  .section-4 .card-header a {
    margin-right: 4rem;
    padding: 0.8rem 1.2rem;
  }
  .section-4 .card-header h2 {
    font-size: 2rem;
    line-height: 1.4;
    padding: 1rem 0rem;
  }
}
.section-4 .section-4-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.section-4 .section-4-container .card {
  flex-basis: 23%;
  color: #333333;
  text-align: start;
}
.section-4 .section-4-container .card img {
  width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}
.section-4 .section-4-container .card h4 {
  margin: 1rem 0rem;
  font-size: 22px;
}
.section-4 .section-4-container .card p {
  line-height: 1.6;
  font-size: 1rem;
}
.section-4 .section-4-container .card button {
  max-width: 100%;
  width: 100%;
  margin: 1.3rem 0rem;
  padding: 0.8rem 1.3rem;
  background: #002594;
  border-width: 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.section-4 .section-4-container .card button #arrow {
  float: left;
}
@media (max-width: 767px) {
  .section-4 {
    padding: 2rem;
  }
  .section-4 .section-4-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .section-4 .section-4-container .card {
    margin-bottom: 1.6rem;
  }
  .section-4 .section-4-container .card img {
    width: 100%;
  }
}

.section-5 {
  padding: 2.5rem 2.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-5 .card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0rem 1.2rem 6rem 1.2rem;
  flex-wrap: nowrap;
}
.section-5 .card-header h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
.section-5 .card-header a {
  text-decoration: none;
  background: #ffc21c;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #4b4b4b;
  margin-right: 8rem;
}
.section-5 .card-header a:hover {
  background: #002594;
}
@media (max-width: 1024px) {
  .section-5 .card-header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0rem 1.2rem 6rem 0.2rem;
    align-items: flex-start;
  }
  .section-5 .card-header a {
    margin-right: 4rem;
    padding: 0.8rem 1.2rem;
  }
  .section-5 .card-header h2 {
    font-size: 2rem;
    line-height: 1.4;
    padding: 1rem 0rem;
  }
}
.section-5 .section-5-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.section-5 .section-5-container .card {
  flex-basis: 31%;
  color: #333333;
  text-align: start;
}
.section-5 .section-5-container .card img {
  width: 100%;
}
.section-5 .section-5-container .card h4 {
  margin: 1rem 0rem;
  font-size: 22px;
}
.section-5 .section-5-container .card p {
  line-height: 1.6;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .section-5 {
    padding: 2rem;
  }
  .section-5 .section-5-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .section-5 .section-5-container .card {
    margin-bottom: 1.6rem;
  }
  .section-5 .section-5-container .card img {
    width: 100%;
  }
}

.section-6 {
  padding: 2rem 3rem;
}
.section-6 .section-6-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1.3rem 0rem;
  animation-duration: 0.8s;
  animation-name: fade_6;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  transform: translateX(150px);
}
@keyframes fade_6 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.section-6 .section-6-container .card {
  flex-basis: 45%;
}
.section-6 .section-6-container .card article {
  text-align: start;
  color: #333333;
  padding-right: 4rem;
}
.section-6 .section-6-container .card article h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
.section-6 .section-6-container .card article p {
  font-size: 0.98rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.section-6 .section-6-container .card article a {
  text-decoration: none;
  background: #002594;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
}
.section-6 .section-6-container .card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  border-bottom-left-radius: 8rem;
}
@media (max-width: 767px) {
  .section-6 {
    padding: 2.5rem;
  }
  .section-6 .section-6-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;
  }
  .section-6 .section-6-container .card {
    margin-bottom: 1.2rem;
  }
  .section-6 .section-6-container .card article {
    float: left;
    padding-right: 0rem;
  }
  .section-6 .section-6-container .card article h2 {
    line-height: 1.2;
  }
  .section-6 .section-6-container .card img {
    width: 100%;
    margin-top: 1rem;
  }
}

.section-7 {
  padding: 2rem 3rem;
}
.section-7 .section-7-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1.3rem 2rem;
}
.section-7 .section-7-container .card {
  flex-basis: 45%;
}
.section-7 .section-7-container .card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  border-bottom-right-radius: 5rem;
}
.section-7 .section-7-container .card article {
  margin-left: 1.6rem;
}
.section-7 .section-7-container .card article h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
  line-height: 1.2;
  margin: 1.2rem auto;
}
.section-7 .section-7-container .card article h4 {
  font-size: 22px;
}
.section-7 .section-7-container .card article ul {
  display: block;
  padding-left: 3rem;
  margin: 2rem auto;
}
.section-7 .section-7-container .card article ul li {
  line-height: 1.6;
}
.section-7 .section-7-container .card article a {
  text-decoration: none;
  background: #002594;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 767px) {
  .section-7 {
    padding: 2.5rem;
  }
  .section-7 .section-7-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 0rem;
  }
  .section-7 .section-7-container .card {
    margin-bottom: 1.2rem;
  }
  .section-7 .section-7-container .card article {
    text-align: left;
  }
  .section-7 .section-7-container .card article h2 {
    font-weight: 700;
    font-size: 40px;
    color: #002594;
    line-height: 2;
    line-height: 1.2;
    margin: 1.2rem auto;
  }
  .section-7 .section-7-container .card article ul {
    display: block;
    padding-left: 1.5rem;
    margin: 2rem auto;
  }
  .section-7 .section-7-container .card article ul li {
    line-height: 1.6;
  }
  .section-7 .section-7-container .card article a {
    text-decoration: none;
    background: #002594;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
  }
}

.section-8 {
  padding: 4rem 3rem;
}
.section-8 .section-8-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1.3rem 0rem;
}
.section-8 .section-8-container .card {
  flex-basis: 45%;
}
.section-8 .section-8-container .card article {
  text-align: start;
  color: #333333;
  padding-right: 4rem;
}
.section-8 .section-8-container .card article h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
.section-8 .section-8-container .card article p {
  font-size: 0.98rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.section-8 .section-8-container .card article a {
  text-decoration: none;
  background: #002594;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
}
.section-8 .section-8-container .card img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .section-8 {
    padding: 2.5rem;
  }
  .section-8 .section-8-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.4rem;
  }
  .section-8 .section-8-container .card {
    margin-bottom: 1.2rem;
  }
  .section-8 .section-8-container .card article {
    float: left;
    padding-right: 0rem;
  }
  .section-8 .section-8-container .card article h2 {
    line-height: 1.2;
  }
  .section-8 .section-8-container .card img {
    width: 100%;
    margin-top: 1rem;
  }
}

.section-9 {
  padding: 2.5rem 2.6rem;
  background: #002594;
}
.section-9 .section-9-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.section-9 .section-9-container .card {
  flex-basis: 31%;
  color: #fff;
  text-align: start;
}
.section-9 .section-9-container .card img {
  width: 100%;
}
.section-9 .section-9-container .card h4 {
  margin: 1rem 0rem;
  font-size: 22px;
}
.section-9 .section-9-container .card p {
  line-height: 1.6;
  font-size: 1rem;
}
@media (max-width: 900px) {
  .section-9 {
    padding: 2rem;
  }
  .section-9 .section-9-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .section-9 .section-9-container .card {
    margin-bottom: 1.6rem;
  }
  .section-9 .section-9-container .card img {
    width: 100%;
  }
}

.section-10 {
  padding: 3rem 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-10 .section-10-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.section-10 .section-10-header h2 {
  font-weight: 700;
  font-size: 40px;
  color: #002594;
  line-height: 2;
}
.section-10 .section-10-header img {
  width: 30px;
  height: 30px;
  margin: 1.6rem 0rem 0rem 0.7rem;
}
.section-10 .grid-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 3.5rem 0rem;
  text-align: center;
  align-items: center;
  grid-template-areas: "trained satisfaction countries completion-rate";
}
.section-10 .grid-display h2 {
  font-weight: 700;
  font-size: 40px;
  color: #333333;
  line-height: 2;
  font-weight: 700;
  font-size: 69px;
  font-family: sans-serif;
}
.section-10 .grid-display p {
  font-size: 19px;
}
@media (max-width: 767px) {
  .section-10 .grid-display {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "trained" "satisfaction" "countries" "completion-rate";
  }
  .section-10 .grid-display h2 {
    line-height: 1.3;
  }
}
@media (max-width: 410px) {
  .section-10 .section-10-header {
    padding: 0rem 0rem;
  }
  .section-10 .section-10-header h2 {
    font-size: 34px;
  }
  .section-10 .section-10-header img {
    width: 30px;
    height: 30px;
    margin: 1.4rem 0rem 0rem 0.7rem;
  }
}

.section-wrapper {
  padding: 2.5rem;
  padding-top: 0rem;
}
.section-wrapper h2 {
  font-weight: 700;
  font-size: 40px;
  color: #333333;
  line-height: 2;
  text-align: center;
  padding: 2rem 0rem 4rem 0rem;
}
.section-wrapper .section-11-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.section-wrapper .section-11-container .card {
  padding: 1.4rem;
  flex-basis: 30%;
  color: #333333;
  text-align: center;
  position: relative;
}
.section-wrapper .section-11-container .card img {
  max-width: 130px;
  width: 100%;
  height: 150px;
  margin: auto;
  border-radius: 42%;
  margin-top: 0rem;
}
.section-wrapper .section-11-container .card article {
  padding-top: 2.2rem;
  font-size: 0.85rem;
  line-height: 1.6;
}
.section-wrapper .section-11-container .card article p {
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .section-wrapper {
    padding: 2rem;
  }
  .section-wrapper h2 {
    line-height: 1.4;
    font-size: 34px;
  }
  .section-wrapper .section-11-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section-wrapper .section-11-container .card {
    margin-bottom: 2rem;
  }
  .section-wrapper .section-11-container .card img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
}
.section-wrapper .section-12-container {
  margin: 3rem 0rem;
}
.section-wrapper .section-12-container .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0rem;
}
.section-wrapper .section-12-container .card h3 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 1.5rem;
}
.section-wrapper .section-12-container .card p {
  color: #333;
  font-size: 1rem;
}
.section-wrapper .section-12-container .card form {
  width: 65%;
  margin: auto;
  padding-top: 1rem;
}
.section-wrapper .section-12-container .card form label {
  display: none;
}
.section-wrapper .section-12-container .card form input {
  width: 100%;
  height: 40px;
  padding: 0.8rem 0.6rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.section-wrapper .section-12-container .card form button {
  width: 110px;
  height: 44px;
  font-size: 1rem;
  color: #fff;
  background: #002594;
  border-radius: 0.3rem;
  border-width: 0rem;
  margin: auto;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .section-wrapper .section-12-container .card {
    padding: 0rem;
  }
  .section-wrapper .section-12-container .card form {
    width: 70%;
  }
  .section-wrapper .section-12-container .card form button {
    width: 100%;
  }
}

.section-13 {
  padding: 3.5rem 2.5rem;
  background: #e3ecf2;
  color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-13 h3 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-bottom: 2.5rem;
}
.section-13 .card {
  width: 70%;
  margin: auto;
  border: 1px solid #ced8e1;
  margin-bottom: 1.5rem;
}
.section-13 .card .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-13 .card .item .title {
  border-bottom: 1px solid #ced8e1;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background: #f7f7f7;
}
.section-13 .card .item .title span {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-right: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 0.2rem;
}
.section-13 .card .item .title a {
  font-weight: 700;
  color: #333333;
  opacity: 1;
}
.section-13 .card .item .content {
  max-height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.section-13 .card .item .show {
  max-height: 10rem;
  transition: all 0.5s ease-in-out;
  height: 100%;
  line-height: 1.7;
  font-size: 0.9rem;
  line-height: 1.6;
  background: #e3ecf2;
  padding: 1.2rem;
}
@media (max-width: 767px) {
  .section-13 .card {
    width: 100%;
  }
}
.section-13 #view-faqs {
  background: #ffc21c;
  padding: 0.5rem;
  width: 130px;
  height: 50px;
  border-width: 0rem;
  border-radius: 0.4rem;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0rem;
}
.section-13 #view-faqs:hover {
  background: #002594;
}/*# sourceMappingURL=home.css.map */