@import './_config';
*{
    @include general;
}
.spacer{
    padding-top: 10rem;
    width: 100%;
}

.section-1{
    @include display(row, space-around);
    padding: 0rem 2.5rem 2.7rem 2.5rem;
    border-bottom-right-radius: 6rem;
    -moz-box-shadow: inset 0 -10px 10px -10px #002594;
    -webkit-box-shadow: inset 0 -10px 10px -10px #002594;
    box-shadow: inset 0 -80px 40px -50px #002594;

    & .card{
        flex-basis: 40%;

        & .image{
            width: 100%;
            max-width: 240px;
            height: 100%;
            //transform: scaleX(1.3);
            /*animation-duration: 1.2s;
            animation-name: fadeRight;
            animation-timing-function:ease-in;
            animation-delay:0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: both;
            transform: translateX(150px);*/

        }
        /*@keyframes fadeRight {
            from{
                transform: translateX(330px);
            }
            to{
            transform: translateX(0);
            }
        }*/

    }

    .card1 {
        @include display(column, flex-start);
        text-align: left;

        & h1{
            @include heading-1;
            color: #333333;
        }
        & p{
            line-height: 32px;
            font-size: 1.1rem;
            color: #333333;
        }
        & a{
            background: #002594;
            line-height: 20.5px;
            color: #fff;
            border-radius: 8px;
            width: 200px;
            font-size: 1rem;
            text-align: center;
            //font-weight: 600;
            margin: 1.2rem 0rem;
            padding: 0.8rem 1rem;
            text-decoration: none;
            box-shadow: rgb(255, 194, 28) 0px 2px 3px 0px;
        }
    }
    @media (max-width:1000px){
        padding: 0rem 2rem 4rem 2rem;;
    }
    @media (max-width:767px){
        @include display(column,center);

        & .card1 h1{
            font-size: 50px;
            line-height: 70px;
        }
    }
}


//section-2
.section-2{
    padding: 1.5rem 2.5rem 4rem 2.5rem;
    text-align: center;
    //background: #fff;
    color: #333333;

    & h2{
        @include heading-2(#4b4b4b);
    }

    & .container{
        @include display(row, space-around);
        padding-top: 2rem;
        text-align: start;
        line-height: 2;
        //border: 2px solid blue;

        & .content{
            flex-basis: 44%;
            color: #333333;
            font-size: 15px;
            @include display(row, flex-start);
            align-items: center;

            & span .icon{
                max-width: 50px;
                width: 100%;
                height: 60px;
                color: #002594;
                margin: -1.2rem 1.5rem 0rem 0rem;
            }
            & h4{
                padding-bottom: 0.8rem;
            }

        }

    }
    @media (max-width:1000px) {
        padding: 1.5rem 2rem 4rem 2rem;
    }

    @media (max-width:767px) {
        h2{
            font-size: 40px;
            line-height: 1.4;
        }

        & .container{
            @include display(column, center);
            margin: 0rem;

            & .content{
                margin-bottom: 2.5rem;
                font-size: 0.95rem;
                text-align: justify;

                & img{
                    max-width: 60px;
                    max-height: 60px;
                    width: 100%;
                }
            }
        }
    }
}
//section-3
.section-3{
    background: #e3ecf2;
    padding: 4rem 6rem;

    & .section-3-container{
        @include display(row, space-between);
        padding: 1.3rem 0rem;

        & .card{
            flex-basis: 40%;

            & article {
                text-align: start;
                color: #333333;

                & h2{
                    @include heading-2(#002594);
                }
                & p{
                    font-size: 0.98rem;
                    line-height: 1.7;
                }
            }

            & img{
                width: 100%;
                height: auto;
            }
        }

    }
    @media (max-width: 767px){
        padding: 4rem;

        & .section-3-container{
            @include display(column, center);
            padding: 1.4rem;

            & .card{
                margin-bottom: 1.2rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
    @media (max-width:600px) {
        padding: 4rem 2rem;

        & .section-3-container .box{
            & article {
                & h2{
                    font-size: 30px;
                }
                & p{
                    font-size: 1rem;
                    text-align: justify;
                }
            }
        }
    }

}

///section-4

.section-4{
    padding: 2.5rem 2.5rem;

    & .card-header{
        @include display(row, space-between);
        align-items: center;
        margin: 0rem 1.2rem 6rem 1.2rem;

        & a{
            text-decoration: none;
            background: #ffc21c;
            padding: 0.8rem 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            color: #4b4b4b;
            margin-right: 8rem;
        }

        & h2{
            @include heading-2(#002594);
        }
    }
    @media (max-width:1024px) {
        .card-header{
            @include display(column, left);
            margin: 0rem 1.2rem 6rem 0.2rem;
            align-items: start;

            & a{
                margin-right: 4rem;
                padding: 0.8rem 1.2rem;
            }

            & h2{
                font-size: 2rem;
                line-height: 1.4;
                padding: 1rem 0rem;
            }
        }
    }

    & .section-4-container{
        @include display(row, space-evenly);



        & .card {
            flex-basis: 23%;
            color: #333333;
            text-align: start;

            & img{
                width: 100%;
                border-radius: 0.8rem;
                margin-bottom: 1rem;
            }
            & h4{
                margin: 1rem 0rem;
                @include heading-4;
            }
            & p{
                line-height: 1.6;
                font-size: 1rem;
            }
            & button{
                max-width: 100%;
                width: 100%;
                margin: 1.3rem 0rem;
                padding: 0.8rem 1.3rem;
                background: #002594;
                border-width: 0rem;
                border-radius: 0.5rem;
                cursor: pointer;
                color: #fff;
                font-size: 1.1rem;
                text-decoration: none;
                color: #fff;

                & #arrow{
                    float: left;
                }
            }
        }

    }

    @media (max-width:767px) {
        padding: 2rem;

        & .section-4-container{
            @include display(column, space-evenly);

            & .card{
                margin-bottom: 1.6rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
}


//section-5

.section-5{
    padding: 2.5rem 2.6rem;
    @include display(column, center);

    & .card-header{
        @include display(row, space-between);
        align-items: center;
        margin: 0rem 1.2rem 6rem 1.2rem;
        flex-wrap: nowrap;

        & h2{
            @include heading-2(#002594);
        }
        & a{
            text-decoration: none;
            background: #ffc21c;
            padding: 0.8rem 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            color: #4b4b4b;
            margin-right: 8rem;

            &:hover{
                background: #002594;
            }
        }
    }
    @media (max-width:1024px) {
        .card-header{
            @include display(column, left);
            margin: 0rem 1.2rem 6rem 0.2rem;
            align-items: flex-start;

            & a{
                margin-right: 4rem;
                padding: 0.8rem 1.2rem;
            }

            & h2{
                font-size: 2rem;
                line-height: 1.4;
                padding: 1rem 0rem;
            }
        }
    }

    & .section-5-container{
        @include display(row, space-evenly);

        & .card {
            flex-basis: 31%;
            color: #333333;
            text-align: start;

            & img{
                width: 100%;
            }
            & h4{
                margin: 1rem 0rem;
                @include heading-4;
            }
            & p{
                line-height: 1.6;
                font-size: 1rem;
            }
        }
    }
    @media (max-width:768px) {
        padding: 2rem;

        & .section-5-container{
            @include display(column, space-evenly);

            & .card{
                margin-bottom: 1.6rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
}


//section-6
.section-6{
    padding: 2rem 3rem;

    & .section-6-container{
        @include display(row, space-around);
        padding: 1.3rem 0rem;
        /*animation-duration: 0.8s;
        animation-name: fade_6;
        animation-timing-function:ease-in;
        animation-delay:0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        transform: translateX(150px);
        @keyframes fade_6 {
            from{
                transform: translateX(100%);
            }
            to{
                transform: translateX(0);
            }
        }*/

        & .card{
            flex-basis: 45%;

            & article {
                text-align: start;
                color: #333333;
                padding-right: 4rem;

                & h2{
                    @include heading-2(#002594);
                    //line-height: 1.3;
                }
                & p{
                    font-size: 0.98rem;
                    line-height: 1.7;
                    margin-bottom: 2rem;
                }
                & a{
                    text-decoration: none;
                    background: #002594;
                    padding: 0.8rem 1.5rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    color: #fff;
                }
            }

            & img{
                width: 100%;
                height: auto;
                 border-radius: 1rem;
                border-bottom-left-radius: 8rem;

            }
        }



    }
    @media (max-width: 767px){
        padding: 2.5rem;

        & .section-6-container{
            @include display(column, center);
            padding: 1.4rem;

            & .card{
                margin-bottom: 1.2rem;

                & article{
                    float: left;
                    padding-right: 0rem;

                    & h2{
                        line-height: 1.2;
                    }
                }

                & img{
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }

}


//section-7
.section-7{
    padding: 2rem 3rem;

    & .section-7-container{
        @include display(row, center);
        padding: 1.3rem 2rem;

        & .card{
            flex-basis: 45%;

            & img{
                width: 100%;
                height: auto;
                border-radius: 1rem;
                border-bottom-right-radius: 5rem;

            }

            & article {
                margin-left: 1.6rem;

                & h2{
                    @include heading-2(#002594);
                    line-height: 1.2;
                    margin: 1.2rem auto
                }
                & h4{
                    @include heading-4;
                }

                & ul{
                    display: block;
                    padding-left: 3rem;
                    margin: 2rem auto;

                    & li{
                        line-height: 1.6;
                    }

                }
                & a{
                    text-decoration: none;
                    background: #002594;
                    padding: 0.8rem 1.5rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    color: #fff;
                }
            }

        }

    }
    @media (max-width: 767px){
        padding: 2.5rem;

        & .section-7-container{
            @include display(column, center);
            padding: 1.2rem 0rem;

            & .card{
                margin-bottom: 1.2rem;

                & article {
                    //margin-left: 1.6rem;
                    text-align: left;

                    & h2{
                        @include heading-2(#002594);
                        line-height: 1.2;
                        margin: 1.2rem auto;
                    }

                    & ul{
                        display: block;
                        padding-left: 1.5rem;
                        margin: 2rem auto;

                        & li{
                            line-height: 1.6;
                    }   }
                    & a{
                        text-decoration: none;
                        background: #002594;
                        padding: 0.8rem 1.5rem;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        color: #fff;
                    }

                }

            }
        }
    }


}

//section-8

.section-8{
    padding: 4rem 3rem;

    & .section-8-container{
        @include display(row, space-around);
        padding: 1.3rem 0rem;

        & .card{
            flex-basis: 45%;

            & article {
                text-align: start;
                color: #333333;
                padding-right: 4rem;

                & h2{
                    @include heading-2(#002594);
                }
                & p{
                    font-size: 0.98rem;
                    line-height: 1.7;
                    margin-bottom: 2rem;
                }
                & a{
                    text-decoration: none;
                    background: #002594;
                    padding: 0.8rem 1.5rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    color: #fff;
                }
            }

            & img{
                width: 100%;
                height: auto;
            }
        }
    }
    @media (max-width: 767px){
        padding: 2.5rem;

        & .section-8-container{
            @include display(column, center);
            padding: 1.4rem;

            & .card{
                margin-bottom: 1.2rem;

                & article{
                    float: left;
                    padding-right: 0rem;

                    & h2{
                        line-height: 1.2;
                    }
                }

                & img{
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
    }
}

//section-9
.section-9{
    padding: 2.5rem 2.6rem;
    background: #002594;

    & .section-9-container{
        @include display(row, space-evenly);

        & .card {
            flex-basis: 31%;
            color: #fff;
            text-align: start;

            & img{
                width: 100%;
            }
            & h4{
                margin: 1rem 0rem;
                @include heading-4;
            }
            & p{
                line-height: 1.6;
                font-size: 1rem;
            }
        }
    }
    @media (max-width:900px) {
        padding: 2rem;

        & .section-9-container{
            @include display(column, space-evenly);

            & .card{
                margin-bottom: 1.6rem;

                & img{
                    width: 100%;
                }
            }
        }
    }
}

//section-10

.section-10{
    padding: 3rem 2.5rem;
    @include display(column, center);

    & .section-10-header{
        text-align: center;
        @include display(row, center);
        position: relative;

        & h2{
            @include heading-2(#002594);
        }

        & img{
            width: 30px;
            height: 30px;
            margin: 1.6rem 0rem 0rem 0.7rem;

        }
    }

    & .grid-display{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        gap: 2rem;
        padding: 3.5rem 0rem;
        text-align: center;
        align-items: center;
        grid-template-areas: "trained satisfaction countries completion-rate";

        & h2{
            @include heading-2(#333333);
            font-weight: 700;
            font-size: 69px;
            font-family: sans-serif;
        }
        & p{
            font-size: 19px;
        }
    }
    @media (max-width:767px){
        .grid-display{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "trained"
                "satisfaction"
                "countries"
                "completion-rate"
            ;

            & h2{
                line-height: 1.3;
            }
        }
    }
    @media (max-width:410px){
        .section-10-header{
            padding: 0rem 0rem;

            & h2{
                font-size: 34px;
            }
            & img{
                width: 30px;
                height: 30px;
                margin: 1.4rem 0rem 0rem 0.7rem;
            }
        }
    }
}


//secttion-11

.section-wrapper{
    padding: 2.5rem;
    padding-top: 0rem;

    & h2{
        @include heading-2(#333333);
        text-align: center;
        padding: 2rem 0rem 4rem 0rem
    }

    & .section-11-container{
        @include display(row, space-evenly);

        & .card {
            padding: 1.4rem;
            flex-basis: 30%;
            color: #333333;
            text-align: center;
            position: relative;

            & img{
                max-width: 130px;
                width: 100%;
                height: 150px;
                margin: auto;
                border-radius: 42%;
                margin-top: 0rem;
            }
            & article{
                padding-top: 2.2rem;
                font-size: 0.85rem;
                line-height: 1.6;

                & p{


                    padding-bottom: 2rem;
                }
            }
        }
    }
    @media (max-width:767px){
        padding: 2rem;

        & h2{
            line-height: 1.4;
            font-size:34px;
        }

        & .section-11-container{
            @include display(column, center);

            & .card{
                margin-bottom: 2rem;

                & img{
                    width: 100%;
                    max-width: 150px;
                    height: auto;
                }

            }
        }
    }
    //section12
    & .section-12-container{
        margin: 3rem 0rem;

        & .card{
            @include display(column, center);
            text-align: center;
            padding: 2rem 0rem;

            & h3{
                @include heading-3;
                padding-bottom: 1.5rem;
            }
            & p{
                color:#333;
                font-size: 1rem;
            }
            & form{
                width: 65%;
                margin: auto;
                padding-top: 1rem;

                & label{
                    display: none;
                }
                & input{
                    width: 100%;
                    height: 40px;
                    padding: 0.8rem 0.6rem;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                & button{
                    width: 110px;
                    height: 44px;
                    font-size: 1rem;
                    color: #fff;
                    background: #002594;
                    border-radius: 0.3rem;
                    border-width: 0rem;
                    margin: auto;
                    margin-top: 1rem;
                }
            }
            @media (max-width:500px){
                padding: 0rem;

                & form{
                    width: 70%;

                    & button{
                        width: 100%;
                    }
                }
            }
        }


    }

}

//section-13
.section-13{
    padding: 3.5rem 2.5rem;
    background: #e3ecf2;
    color: #333333;
    @include display(column,center);

    h3{
        @include heading-3;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    & .card{
        width: 70%;
        margin: auto;
        border: 1px solid #ced8e1;
        margin-bottom: 1.5rem;

        & .item{
            @include display(column, center);


            & .title{
                border-bottom: 1px solid #ced8e1;
                align-items: center;
                cursor: pointer;
                padding: 1rem;
                background: #f7f7f7;

                & span{
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    padding-right: 0.5rem;
                    font-weight: 700;
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                }
                & a{
                    font-weight: 700;
                    color: #333333;
                    opacity: 1;
                }
            }

            & .content{
                max-height: 0;
                transition: all 0.5s ease-in-out;
                overflow: hidden;
            }

            & .show{
                max-height: 10rem;
                transition: all 0.5s ease-in-out;
                height: 100%;
                font-size: 0.9rem;
                line-height: 1.6;
                background: #e3ecf2;
                padding: 1.2rem;
            }
        }
        @media (max-width:767px){
            width: 100%;
        }
    }

    #view-faqs{
        background: #ffc21c;
        padding: 0.5rem;
        width: 130px;
        height: 50px;
        border-width: 0rem;
        border-radius: 0.4rem;
        margin: auto;
        text-align: center;
        text-decoration: none;
        color: #333333;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0rem;

        &:hover{
            background: #002594;
        }
    }
}