@import '_config.scss';
*{
    @include general;
}

.register{
    @include display(column,center);

    & .first-part{
        background-color: #002592;
        padding: 4rem 0rem 6rem 0rem;

        & h2{
            @include heading-2(#fff);
            text-align: center;
        }
    }

    & .second-part{
        padding: 4rem;

        & article{
            line-height: 1.6;
            color: #333333;

            & h3{
                @include heading-3;
                font-size: 26px;
                margin: 1.2rem 0rem;
            }
            & ul,ol{
                padding-left: 2.2rem;
                margin-bottom: 1.5rem;
            }
            & h4{
                margin: 1.1rem 0rem;
            }

            & a{
                background: #ffc21c;
                padding: 0.5rem;
                height: 50px;
                border-width: 0rem;
                border-radius: 0.4rem;
                margin: auto;
                text-align: center;
                text-decoration: none;
                color: #454242;
                font-size: 1rem;
                font-weight: 600;
                padding: 1rem 1.4rem;

                &:hover{
                    background: #002594;
                }

            }
        }
    }
    @media (max-width:767px){

        & .first-part{
            padding: 4rem 2rem 6rem 2rem;

            & h2{
                line-height: 1.4;
            }
        }
        & .second-part{
            padding: 3rem 2rem;
        }
    }
}